$primary: #249dd8;
body {
  background: #f0f2f5;
  font-family: sans-serif;
}
a:hover {
  color: $primary;
  cursor: pointer;
}
.card {
  border: 1px solid #eeeeee;
  background: white;
}
.card-header {
  padding: 24px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.card-body {
  padding: 24px;
}
details {
  padding: 12px;
}
details[open] {
  background: #f0f2f5;
}
summary::-webkit-details-marker {
  display: none;
}
.collapse-header:hover {
  cursor: pointer;
}
.collapse-header {
  padding: 12px;
}
.collapse-body {
  padding: 24px 12px;
}
button {
  padding: 8px;
  border-radius: 3px;
  font-weight: 600;
}
button.primary {
  background: $primary;
  color: white;
  border: 1px solid $primary;
}
button:hover {
  cursor: pointer;
  opacity: 0.9;
}

input {
  border: 1px solid #eeeeee;
  border-radius: 3px;
}
input[disabled] {
  background: #fafafa;
  color: #aaaaaa;
}
.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
  display: block;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0px 32px 50px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal-header {
  padding: 24px 0px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 32px;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
